.image-cropper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($darkest-neutral, 0.25);

  .cropper-container {
    margin-left: auto;
    width: 25%;
    min-width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
}
