.styled-dropdown {
  .select__control {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: none;
    border: 2px solid rgba($grey, 0.5);
    transition: all 0.3s ease;
    margin-top: 5px;
    max-width: 300px;

    &:hover,
    &:focus {
      border: 2px solid rgba($grey, 0.9);
    }
  }

  .select__menu {
    width: 300px;
  }

  .select__placeholder {
    color: $grey;
  }

  .select--label {
    @include font-size(20, 500, none, normal, 29);
    margin-top: 19px;
    color: $dark-neutral;
  }

  &__readonly {
    pointer-events: none;

    .select__indicators {
      opacity: 0;
    }
  }
}
