*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $secondary-font-stack;
  color: $text-color-primary;
}

body {
  background-color: $light-neutral;
  scroll-behavior: smooth;
}

p {
  @include font-size(18, 400, none, 0, normal);
}

a {
  @include font-size(16, 500, none, normal, normal);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-stack;
}

h1 {
  @include font-size(45, 900, none, normal, 50);

  @include bp-sm-phone-landscape {
    line-height: 60px;
  }
}

h2 {
  @include font-size(48, 700, none, normal, 50);

  @include bp-sm-phone-landscape {
    line-height: 60px;
  }
}

h2 {
  @include font-size(24, bold, none, 0, normal);
}

h4 {
  @include font-size(16, 700, none, 1.6, normal);
}

ul {
  list-style: none;
}

.disabled {
  pointer-events: none;
}

button {
  @include font-size(16, 500, none, 1, 24);
  padding: 15px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button__primary {
  background-color: $primary;
  color: $lightest-neutral;
  border: 2px solid $primary;

  &__delete {
    padding: 16px 38px;
    color: $lightest-neutral;
    background-color: $delete;
    border-color: $delete;
  }
}

.button__secondary {
  background-color: transparent;
  color: $lightest-neutral;
  border: 2px solid $lightest-neutral;

  &__dark {
    color: $dark-neutral;
    border-color: $dark-neutral;
    border: 2px solid $dark-neutral;
  }
}

.button__cancel {
  @include font-size(18, 400, none, 0, 29);
  padding: 12px 0;
  border: none;
  background-color: transparent;
}

.page {
  @include bp-lg-laptop {
    margin-left: 250px;
  }
}

.logo__white {
  path,
  circle {
    fill: white;
  }
  line {
    stroke: white;
  }
}

.coming-soon-tag {
  font-size: 10px;
  padding: 1px 3px;
  margin: 3px 0 0 3px;
  white-space: nowrap;
  color: $dark-neutral;
  background-color: $highlight;
  border: 1px solid green;
  border-radius: 3px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba($darkest-neutral, 0.5);
  backdrop-filter: blur(5px);
}

.table-container {
  overflow-x: scroll;

  @include bp-md-tablet {
    overflow-x: hidden;
  }
}

.simple-modal {
  text-align: center;

  &--content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    background-color: $lightest-neutral;

    @include bp-sm-phone-landscape {
      max-width: 500px;
      min-width: 440px;
    }

    h2 {
      @include font-size(32, bold, none, 0, 37);
      margin: 25px 0;
    }

    .icon-close {
      position: absolute;
      top: 10px;
      right: 30px;
      cursor: pointer;

      @include bp-sm-phone-landscape {
        right: 10px;
      }
    }

    .buttons-container {
      margin-top: 15px;
      justify-content: center;

      button {
        &:first-child {
          margin-right: 7.5px;
        }

        &:last-child {
          margin-left: 7.5px;
        }
      }
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

  &__xl {
    width: 230px;
    height: 230px;
    border: 5px solid $lightest-neutral;
  }

  &__large {
    width: 175px;
    height: 175px;
    border: 3px solid $lightest-neutral;
  }

  &__medium {
    width: 75px;
    height: 75px;
  }

  &__sm {
    width: 56px;
    height: 56px;
  }

  &__xs {
    width: 30px;
    height: 30px;
  }
}

input,
textarea {
  font-family: $primary-font-stack;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 2px solid rgba($grey, 0.5);
  outline: none;

  &::placeholder {
    color: $grey;
  }
}

textarea {
  min-height: 150px;
  resize: none;
}

tbody {
  .empty-row {
    text-align: center;
  }

  tr {
    transition: all 0.3s ease;
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid $dark-neutral;
    }

    &:hover {
      text-shadow: 0 0 1px $dark-neutral;
    }
  }
}

.date-input {
  padding: 10px 10px;
  vertical-align: middle;
}

.caption {
  @include font-size(14, 300, none, 0, 27);
}

.text__error {
  color: $error;
}

.error__show {
  height: auto;
  opacity: 1;
}

.error__hide {
  height: 0px;
  opacity: 0;
}

ul.pagination {
  margin: 15px 0 15px auto;
}

.pagination {
  .page-item {
    &.active {
      a {
        background-color: $primary;
        color: $light-grey;
      }
    }

    .page-link {
      color: $dark-neutral;
      background-color: transparent;
      border: none;
      margin: 0;

      &:hover {
        background-color: $primary;
        color: $lightest-neutral;
      }
    }

    &.disabled .page-link {
      background-color: transparent;
    }
  }
}
