*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $secondary-font-stack;
  color: $text-color-primary;
}

body {
  background-color: $light-neutral;
}

p {
  @include font-size(18, 400, none, 0, 29);
}

a {
  @include font-size(16, 500, none, normal, 29);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-stack;
}

h1 {
  @include font-size(45, 900, none, normal, 65);
}

h2 {
  @include font-size(48, 700, none, normal, 65);
}

h4 {
  @include font-size(16, 700, none, 1.6, normal);
}

ul {
  list-style: none;
}

button {
  @include font-size(16, 500, none, 1, 24);
  padding: 16px 38px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.button__primary {
  background-color: $primary;
  color: $lightest-neutral;
  border: none;
}

.button__secondary {
  background-color: transparent;
  color: $lightest-neutral;
  border: 2px solid $lightest-neutral;
}

.button__cancel {
  @include font-size(18, 400, none, 0, 29);
  padding: 12px 0;
  border: none;
  background-color: transparent;
}

.page {
  margin-left: 330px;
}

.logo__white {
  path,
  circle {
    fill: white;
  }
  line {
    stroke: white;
  }
}

.search-container {
  position: relative;
  max-width: 207px;
  height: 35px;

  svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 8px;
    transform: translateY(-55%);
  }

  input[type='text'] {
    max-width: 100%;
    height: 100%;
    padding-left: 33px;
    border-radius: 4px;
    border: 1px solid rgba($dark-neutral, 0.5);

    &::placeholder {
      color: $dark-grey;
    }
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

  &__big {
    width: 230px;
    height: 230px;
    border: 5px solid $lightest-neutral;
  }

  &__medium {
    width: 75px;
    height: 75px;
  }

  &__small {
    width: 56px;
    height: 56px;
  }
}

input {
  font-size: 16px;
  padding: 14px 16px 13px;
  border-radius: 4px;
  border: 2px solid rgba($grey, 0.5);
  outline: none;

  &::placeholder {
    color: $grey;
  }
}

.data-table {
  width: 90%;
  max-width: 1415px;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: $dark-neutral;

  thead th {
    background-color: $dark-neutral;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }

  th,
  td {
    padding: 12px 15px;
  }
}

tbody {
  tr {
    transition: all 0.3s ease;
    border-bottom: 1px solid #dddddd;

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid $dark-neutral;
    }

    &:hover {
      font-weight: bold;
    }
  }
}

.date-input {
  padding: 10px 10px;
  vertical-align: middle;
}

.caption {
  @include font-size(14, 300, none, 0, 27);
}

.text__error {
  color: $error;
}

.error__show {
  height: auto;
  opacity: 1;
}

.error__hide {
  height: 0px;
  opacity: 0;
}

.multiselect--avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.pagination {
  display: flex;
  width: 400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  &__active {
    background-color: $dark-neutral;
    color: $light-grey;
  }

  .page-item,
  .page-item a {
    display: block;
    width: 35px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    &--next,
    &--prev {
      width: fit-content;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;

      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
