// fonts
$primary-font-stack: 'Noto Sans JP', Avenir, Helvetica, Arial, sans-serif;
$secondary-font-stack: 'Poppins', Avenir, Helvetica, Arial, sans-serif;

// absolute colors
$darkest-neutral: #000;
$lightest-neutral: #fff;

// solid colors
$dark-neutral: #13283a;
$light-neutral: #eee;
$primary: #3a89ff;
$dark-grey: #6d7d8b;
$grey: #bbc8d4;
$light-grey: #dae3ea;
$red: #ed455d;
$error: #dc143c;
$yellow: #ffbb00;
$green: #00ff66;
$highlight: #3bcbff;
$disabled: #a0abb1;

// text colors
$text-color-primary: $dark-neutral;
