.profile-page {
  .banner {
    &--image {
      width: 100%;
      padding-top: 20%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--content {
      display: flex;
      height: 112px;
      align-items: center;
      color: $lightest-neutral;
      background-color: $dark-grey;

      .avatar {
        margin: -155px 20px 35px 60px;
      }

      .user-info {
        .user-name {
          display: flex;
          align-items: center;

          .user-socials {
            margin-left: 15px;
            margin-bottom: -15px;

            svg {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  h3 {
    @include font-size(24, bold, none, 0, 0);
    margin-top: 30px;
    margin-left: 5%;
  }
}
