.project-page {
  position: relative;

  h1 {
    text-transform: capitalize;
  }

  &--header {
    padding: 35px 50px 40px;
    background-color: $light-grey;

    h1 {
      font-size: 35px;
      line-height: 40px;

      @include bp-sm-phone-landscape {
        font-size: 45px;
        line-height: 50px;
      }
    }

    .project-owner {
      font-size: 14px;
    }

    .breadcrumbs {
      display: inline-block;
      margin-top: 15px;
      color: $dark-neutral;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--actions {
    display: flex;
    padding: 40px 50px 0;
    flex-direction: column;
    justify-content: flex-start;

    @include bp-md-tablet {
      flex-direction: row;
      align-items: center;
    }

    .members {
      display: flex;
      flex-wrap: wrap;
      max-width: 375px;
      margin-top: 15px;

      @include bp-md-tablet {
        margin: 0 0 -5px 40px;
      }

      .member {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .main-content {
    padding: 40px 50px 50px;

    .columns-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @include bp-xl-desktop {
        height: 75vh;
        min-height: 700px;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}
