.project-page {
  position: relative;

  &--header {
    padding: 35px 50px 40px;
    background-color: $light-grey;

    .breadcrumbs {
      color: $dark-neutral;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--actions {
    padding: 40px 50px 0;

    .members {
      display: flex;

      .member {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .main-content {
    padding: 40px 50px 50px;

    .columns-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @include bp-xl-desktop {
        height: 75vh;
        min-height: 700px;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}
