.projects-page {
  padding: 80px 50px 50px;

  .table-header {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .search-container {
      margin-top: 5px;

      @include bp-custom-min(459) {
        margin-top: 0;
      }
    }

    h3 {
      margin-right: 15px;
    }

    &:last-of-type {
      margin-top: 30px;
    }
  }

  .table-container {
    margin-bottom: 30px;
  }

  .button__secondary__dark {
    position: relative;
    padding: 10px 30px 10px 10px;
    margin-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }

    svg {
      position: absolute;
      top: 47%;
      right: 1px;
      transform: translateY(-50%);

      rect {
        fill: $dark-neutral;

        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  .simple-modal {
    &--content {
      width: 100%;
      max-width: unset;

      @include bp-sm-phone-landscape {
        width: 430px;
        max-width: 500px;
      }

      svg {
        right: 30px;

        @include bp-sm-phone-landscape {
          right: 10px;
        }
      }
    }
  }
}
