.settings-page {
  padding: 80px 50px 50px;

  h1 {
    margin-bottom: 15px;
  }

  form {
    input {
      width: 100%;

      @include bp-sm-phone-landscape {
        width: auto;
      }
    }

    label {
      display: block;
      width: fit-content;
      margin-bottom: 5px;
    }

    .input-container,
    .dropzone {
      margin-bottom: 15px;
      border: none;
    }
  }
}
