.user-profile {
  background-color: red;

  .banner {
    min-height: 300px;

    .avatar {
      width: 230px;
      height: 230px;
      object-fit: cover;
      border-radius: 50%;
      border: 5px solid $lightest-neutral;
      margin: 35px 60px;
    }
  }
}
