.project-table {
  width: 652px;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: $dark-neutral;
  overflow-x: scroll;

  @include bp-md-tablet {
    width: 100%;
    max-width: 1473px;
  }

  thead th {
    background-color: $dark-neutral;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    cursor: default;
  }

  tr {
    cursor: pointer;
  }

  th,
  td {
    padding: 12px 15px;
  }

  .deletable {
    text-align: center;
    border-left: 1px solid $light-grey;

    &:hover svg {
      opacity: 1;
    }

    svg {
      opacity: 0.5;
      transition: all 0.3s ease;
    }
  }
}
