.side-nav {
  position: fixed;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $light-grey;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .page-links,
  .secondary-links {
    ul {
      li {
        &:not(:first-of-type) {
          margin-top: 27px;
        }

        a {
          display: flex;
          width: fit-content;
          align-items: center;
          color: $lightest-neutral;
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }

  &--top {
    padding: 47px 45px 76px;
    color: $lightest-neutral;
    background-color: $dark-neutral;

    .profile-link {
      display: flex;
      margin: 35px 5px 66px 0;
      align-items: flex-start;
      text-decoration: none;

      .username {
        margin-top: 5px;
        margin-left: 10px;

        p,
        .caption {
          width: 130px;
          color: $lightest-neutral;
        }

        p {
          line-height: 20px;
        }
      }
    }
  }

  &--bottom {
    padding: 47px 45px 0;
    color: $dark-neutral;

    .secondary-links {
      ul {
        li {
          a {
            color: $dark-neutral;
          }
        }
      }
    }
  }
}
