.task-column-container {
  width: 100%;

  .task-column--header {
    position: relative;
    display: flex;
    padding: 10.5px 10px 10.5px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: $lightest-neutral;

    @include bp-xl-desktop {
      width: 93%;
    }

    .status-color {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;

      &__red {
        background-color: $red;
      }

      &__yellow {
        background-color: $yellow;
      }

      &__blue {
        background-color: $primary;
      }

      &__green {
        background-color: $green;
      }
    }

    .add-task {
      margin-right: 6px;
      cursor: pointer;
    }

    p {
      color: $dark-neutral;
    }
  }

  .task-column {
    margin-bottom: 30px;
    background-color: $lightest-neutral;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include bp-xl-desktop {
      width: 93%;
      margin-bottom: 0;
    }

    @include bp-xl-desktop {
      height: 75vh;
      min-height: 700px;
    }

    &--content {
      height: 100%;
      display: flex;
      padding: 15px 10px 50px;
      flex-direction: column;
      align-items: stretch;
      border-top: 1px solid rgba($darkest-neutral, 0.2);
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
