.task-creation-modal {
  .form-container {
    position: absolute;
    padding: 25px 35px 47px;
    top: 0;
    right: 0;
    width: 800px;
    min-height: 100vh;
    background-color: $lightest-neutral;

    ul {
      display: flex;
      align-items: center;

      li {
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;

        &:first-child {
          margin-right: 15px;
        }

        &.active {
          background-color: $dark-neutral;
          color: $lightest-neutral;
          text-decoration: underline;
        }
      }
    }

    .attachments-container {
      display: flex;
      padding: 15px;
      align-items: center;
      justify-content: space-evenly;
      border: 2px solid $dark-neutral;
      border-radius: 8px;
    }

    .edit-task {
      display: inline-block;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      margin-bottom: 15px;
    }

    h2 {
      font-size: 32px;
      font-weight: 500;
    }

    label {
      @include font-size(20, 500, none, normal, 29);
      display: inline-block;
      margin-bottom: 5px;
      color: $dark-neutral;
    }

    .form-note {
      margin-bottom: 18px;
      color: $dark-grey;
    }

    .icon-close {
      position: absolute;
      top: 35px;
      right: 25px;
      cursor: pointer;
    }

    .input-container {
      display: flex;
      flex-direction: column;

      &__error {
        margin-top: -12px;
      }

      &:not(:first-of-type) {
        margin-bottom: -12px;
      }

      .input--helper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .caption {
        margin-top: 5px;
        text-align: right;
      }
    }
  }

  .dates-container {
    display: flex;
    align-items: stretch;
    margin-top: 20px;

    .input-container {
      width: 50%;
      max-width: 300px;

      &:not(:first-of-type) {
        margin: 0 0 0 40px;
      }

      .date-input {
        width: 100%;
      }
    }
  }

  .buttons-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;

    & :last-child {
      max-width: 165px;
      margin-left: 30px;
      padding: 16px 37px;
      white-space: nowrap;
    }
  }
}
