.task-card {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: $darkest-neutral;
  border: 2px solid rgba($darkest-neutral, 0.5);
  text-decoration: underline;
  overflow: hidden;
}
