.task-card {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: $darkest-neutral;
  border: 2px solid rgba($darkest-neutral, 0.5);

  .icon__edit {
    display: none;
    cursor: pointer;
    margin-left: 2px;
  }

  &:hover .icon__edit {
    display: inline-block;
  }

  &--title {
    @include font-size(18, 400, none, 0, 21);

    &:hover {
      text-decoration: underline;
    }
  }
}
