.task-creation-modal {
  .form-container {
    width: 100%;
    position: absolute;
    padding: 25px 35px 47px;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: $lightest-neutral;

    @include bp-custom-min(850) {
      width: 800px;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;

        &:first-child {
          margin-right: 15px;
        }

        &.active {
          background-color: $dark-neutral;
          color: $lightest-neutral;
          text-decoration: underline;
        }
      }
    }

    .attachments-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 15px;
      margin-top: 30px;
      border: 2px solid $dark-neutral;
      border-radius: 8px;

      .task-attachment {
        position: relative;
        cursor: pointer;

        &:hover {
          svg {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          object-fit: cover;
        }

        svg {
          position: absolute;
          width: 30px;
          height: 30px;
          padding: 5px;
          top: 10px;
          right: 10px;
          opacity: 0;
          cursor: pointer;
          border-radius: 8px;
          background-color: $error;

          path {
            fill: white;
          }
        }
      }
    }

    .edit-task,
    .delete-task {
      display: inline-block;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .delete-task {
      margin-left: 15px;
      transition: color 0.3s ease;

      &:hover {
        color: $delete;

        svg {
          path {
            fill: $delete;
          }
        }
      }

      svg {
        path {
          transition: fill 0.3s ease;
          fill: $dark-neutral;
        }
      }
    }

    .title {
      margin-bottom: 15px;
    }

    h2 {
      font-size: 32px;
      font-weight: 500;
    }

    label {
      @include font-size(20, 500, none, normal, 29);
      display: inline-block;
      margin-bottom: 5px;
      color: $dark-neutral;
    }

    .form-note {
      margin-bottom: 18px;
      color: $dark-grey;
    }

    .icon-close {
      position: absolute;
      top: 35px;
      right: 25px;
      cursor: pointer;
    }

    .input-container {
      display: flex;
      flex-direction: column;

      &__error {
        margin-top: -12px;
      }

      &:not(:first-of-type) {
        margin-bottom: -12px;
      }

      .input--helper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .caption {
        margin-top: 5px;
        text-align: right;

        &__error {
          color: $error;
        }
      }
    }
  }

  .img-modal {
    position: relative;

    img {
      position: absolute;
      width: 80%;
      max-width: 800px;
      top: 50%;
      left: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

  .dates-container {
    display: flex;
    align-items: stretch;
    margin-top: 20px;

    .input-container {
      width: 50%;
      max-width: 300px;

      &:not(:first-of-type) {
        margin: 0 0 0 40px;
      }

      .date-input {
        width: 100%;
      }
    }
  }

  .buttons-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;

    .button__primary,
    .button__primary__delete {
      max-width: 165px;
      margin-left: 30px;
      padding: 16px 37px;
      white-space: nowrap;
    }
  }

  .simple-modal {
    .buttons-container {
      justify-content: center;
    }
  }
}
